
:root {
  --customColor: #0044FF;
  --purple: #CE00FF;
  --orange: #FF4600;
  --blue: #0044FF;
  --cyan: #03FFC7;
  --black: #000013;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
