.header-page{
    background-color: var(--black);
    height: 100vh;
    position: inherit;

    @media only screen and (max-width:1000px){
        height: 60vh;
    }
}
nav{
    color: var(--customColor);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    padding-left: 10rem;
    padding-right: 12rem;

    
}
.hamburger{
    display: none;
}
.nav{
    &-header{
        font-size: 2.5rem;
        animation: wesite 1.5s ease-in-out .3s;
    }
    &-list{
        display: flex;
        z-index: 2;
        gap: 1rem;


    }

    &-list *{
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        list-style: none;
        height: 3.5rem;
        width: 7rem;
        transition: all .5s;
        border-radius: .3rem;
    }
    &-list *:hover{
        background-color: var(--customColor);
    }

    &-fix{
        background-color: var(--customColor);
        color: #fff;
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
    }
}
li a{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pageContainer{
    height: 100%;
    display: grid;
    grid-template-columns: 50% minmax(60%,100%);
    grid-template-rows: 20% 1fr minmax(10%,20%);
    margin-left: 14rem;
    position: relative;
    overflow: hidden;
    padding-right: 15rem;
    
    &-intro{
        align-self: center;
        grid-row: 2 / 3;
        
        & *{
            color: #fff;
            margin-top: .4rem;
            font-weight: 200;
        }
        
        &--icons{
            font-size: 2rem;
            color: var(--blue);
            grid-row: 3 / -1;
            align-self: center;
            // margin-top: 15rem;
        }
        &--icons *{
            cursor: pointer;
            margin-left: .7rem;
        }

        &--greeting{
            opacity: 0;
            font-size: 2rem;
            animation: hello .8s ease-in-out 1.6s forwards;
        }
        &--self{
            font-size: 2rem;
            font-weight: 400;
            opacity: 0;
            animation: hello 1s ease-in-out 2.2s forwards;
        }
    }

.btn{
    height: 3.5rem;
    width: 10.5rem;    
    background-color: var(--customColor);
    border: none;
    margin-top: 2rem;
    font-size: 1.6rem;
    border:.1rem solid var(--customColor);
    opacity: 0;
    animation: btn .8s ease-in-out 2.8s forwards;
}
.btn:hover{
    background-color: inherit;
}

    &-image{
        grid-row: 1 / 4;
        position: relative;
        
    }
    &-image--png{
        max-width: 100rem;
        height: 100%;
        z-index: 0;
        opacity: 0;
        scale: 2rem;
        padding-right: 20rem;
        animation: firsthero 1s ease-in-out 1.6s forwards;
    }
}
h1.pageConatainer-intro--name {
    opacity: 0;
    font-size: 5.8rem;
    animation: hello .8s ease-in-out 2s forwards;
}

