.myskills{
    min-height: 70vh;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 1fr;
    overflow: hidden;
    
    &-head{
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center;
        margin-top: 3rem;
    }
    &-head h5{
        font-size: 3.1rem;
        font-weight: 200;

    }

    &-box{
        margin-top: 2rem;
        grid-column: 1 / 3;
        display: flex;
        gap: 6rem;
    }
    &-levels{
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: end;

        &--box{
            width: 85%;
            margin-bottom: 2rem;
        }
        &--line{
            display: grid;
            grid-template-columns: 5rem 1fr 5rem;
            grid-template-rows: 1fr;
            margin-bottom: 2rem;
        }
        &--line h5{
            color: grey;
            font-size: 1.6rem;
            font-weight: 600;
        }
        &--line span{
            font-size: 1.5rem;
            grid-column: 3 / 4;
            justify-self: end;
        }
        &--total{
            width: 100%;
            height: .4rem;
            grid-column: 1 / 4;
            background-color: rgb(224, 217, 217);
        }   
        &--score{
            height: .4rem;
            background-color: var(--customColor);
            z-index: 10;
        }
    }
    
    &-about{
        width: 40%;
        
        h4{
            font-weight: 200;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        p{
            line-height: 3rem;
            margin-bottom: 2rem;
        }

    }
}

.html{
    width: 95%;
}
.css{
    width: 85%;
}
.javascript{
    width: 90%;
}
.nodejs{
    width: 80%;
}
.mongodb{
    width: 95%;
}