.myteams{
    background-color: #111;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    &-head{
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: var(--white);
    }
    .glide{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem;
        height: 50%;
        width: 90%;

        &__slide{
            &-box{
                color: var(--white);
                font-size: 1.5rem;
                height: 20rem;
                border-radius:1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: .3rem solid var(--black);
                flex-direction: column;
                transition: all .3s ease-in-out;


                &--pic img{
                    height: 100%;
                    width: 13rem;
                    object-fit: cover;
                }
    
                &--pic{
                    height: 13rem;
                    width: 13rem;
                    border-radius: 100%;
                    overflow: hidden;
                    margin: 0 auto;
                    border: .4rem solid var(--customColor);
                    transition: all .3s ease-in-out;
                }
                
    
            }
            &-box:hover{
                background-color: var(--customColor);
                border-bottom: .3rem solid var(--white);
            }
            &-box:hover .glide__slide-box--pic{
                border: .4rem solid var(--white);
            }

            &--head,h6{
                font-size: 1.5rem;
                padding: 1rem 1rem;
            }
        }
        
    }
}