.Home{
    opacity: 0;
    animation: navList .8s ease-in-out 1s forwards;
}
.about{
    opacity: 0;
    animation: navList .8s ease-in-out 1.3s forwards;
}
.Services{
    opacity: 0;
    animation: navList .8s ease-in-out 1.5s forwards;
}
.skill{
    opacity: 0;
    animation: navList .8s ease-in-out 1.7s forwards;
}
.teams{
    opacity: 0;
    animation: navList .8s ease-in-out 1.9s forwards;
}
.contact{
    opacity: 0;
    animation: navList .8s ease-in-out 2.1s forwards;
}

.fa-linkedin-in{
    opacity: 0;
    animation: icons 1.5s ease-in-out 2s forwards;
}
.fa-github{
    opacity: 0;
    animation: icons 1.5s ease-in-out 2.9s forwards;
}
.fa-instagram{
    opacity: 0;
    animation: icons 1.5s ease-in-out 3s forwards;
}
.fa-twitter{
    opacity: 0;
    animation: icons 1.5s ease-in-out 3.2s forwards;
}
.fa-telegram{
    opacity: 0;
    animation: icons 1.5s ease-in-out 3.3s forwards;
}
.animate{
    color: var(--customColor);
}
.animates{
    color: var(--customColor);
}